{% extends '::base.html.twig' %}

{% block body -%}


<h1>CARACTERISTICAS</h1>

<h1>  SOBRE EL CECAD</h1>

El CECAD nació con base en  la necesidad del procesamiento a gran escala de datos, información y conocimiento en las distintas áreas del saber. Hará parte de un colaboratorio internacional al cual se vincularán la universidad de Nuevo México en cabeza del Dr. Ramiro Jordan, de la Universidad del Sur de la Florida con el apoyo del Dr. Wilfrido Moreno y del Centro de Supercomputación de Barcelona con la colaboración del Dr. Mateo Valero.

El profesor José Nelson Pérez Castillo,  Doctor en Informática de la Universidad de Oviedo (España), ha dedicado su vida a aprender y compartir conocimiento en las áreas de la ciencia que él puede soportar para fomentar de esta manera el crecimiento académico de la Universidad Distrital y el desarrollo de la investigación a través del grupo GICOGE del cual es su Director.

Fue él quien a través de una de sus ex-alumnas obtuvo los equipos donados por importanes empresas industriales y financieras del ámbito nacional, y el apoyo de trasnacionales del ámbito informático y del hardware de computadores.


Estos equipos serán utilizados para la conformación de un laboratorio que hará parte de la malla computacional académica para propósitos investigativos antes mencionados, donde se llevarán a cabo grandes procesos de datos en áreas del conocimiento tales como Inteligencia Artificial, agentes y multiagentes para el análisis espacial y planeación urbana, montaje de interfaces multimodales para la visualización de información geográfica, procesamiento de clasificación de imágenes con algoritmos genéticos y autómatas celulares, procesamiento de modelos de crecimiento urbano vía Jade y sistemas multiagentes mediante Repast Simphony y los demás que requieran alto poder de cómputo.


Este  tipo de procesamiento genera  grandes cantidades de datos, en especial los procesos de simulaciones matemáticas, físicos, mecánicos, eléctricos, ciencias de la ingeniería forestal, civil, etc., por lo que parte de ésta plataforma  también tendrán la función de repositorio. El trabajo investigativo será adelantado por los grupos de investigación de la Universidad Distrital y otras Universidades asociadas al proyecto.


Igualmente, la Universidad ha diseñado un proyecto para proveer servicios virtuales (nébula  o zbm de IBM) de computación a estudiantes de la Universidad que así lo ameriten, para que puedan avanzar en sus proyectos investigativos vía Internet.

<h1>SOBRE LA HERRAMIENTA</h1>


{% endblock %}
