{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Proyecto creation</h1>

	<div class="formularioDatos">
    {{ form(form) }}
	</div>

        <ul class="record_actions">
    <li>
        <a href="{{ path('usuario_proyecto') }}">
            Volver a la lista detallada
        </a>
    </li>
</ul>
{% endblock %}
